@tailwind base;
@tailwind components;
@tailwind utilities;
@reference "tailwindcss";


:root {
    --strikethrough-color: #B0B0B0;
}

.strikethrough{
    @apply text-base relative;
    color: var(--strikethrough-color);

    &::before {
        @apply absolute top-1/2 left-0 -translate-y-1/2 w-full h-[1px];
        background-color: var(--strikethrough-color);
        content: '';
    }
}